* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  position: relative;
  left: 70px;
  color: black;
  font-weight: lighter;
}
.nav-links {
  background-color: rgb(236, 231, 231);
}
i {
  color: red;
  margin-top: 2rem;
  margin-left: 20px;
  font-weight: -90;
}
select {
  height: 3rem;
  width: 6rem;
}
img {
  height: 50px;
  position: relative;
  left: 8rem;
  top: 2rem;
  margin-bottom: 1.2rem;
  width: 50px;
}
.josh {
  position: relative;
  top: 0.5cm;
  font-size: 0.85rem;
  margin-left: 0.1cm;
}
.bg {
  background: url('../images/bg.png');
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
